@page
@model Intranet.Pages.Informatica.CajasFueraLineaModel
@{
    ViewData["Title"] = "Cajas fuera de línea";
}
<p class="normal">Número de Cajas fuera de Línea o no sincronizadas: <span class="Estilo1">@Model.Numero</span></p>
