@page
@model Intranet.Pages.Informatica.HorarioSincModel
@{
    ViewData["Title"] = "Sincronización control horario";
}
<h2 class="Titulos">Control horario - última sincronización</h2>
<partial name="_HorarioSinc" model="Model.Datos" />
