@page
@model Intranet.Pages.Informatica.SincModel
@{
    ViewData["Title"] = "Sincronización - Última venta";
}
<h2 class="Titulos">Última venta por almacén</h2>
<partial name="_TransRecibidas" model="Model.Datos" />
